# User information for docker image user.
export DOCKER_USER={{DOCKER_USER}}
export DOCKER_USER_GROUP={{DOCKER_USER_GROUP}}
export DOCKER_USER_UID={{DOCKER_USER_UID}}
export DOCKER_USER_GID={{DOCKER_USER_GID}}

# User information for PANDA VM user.
export VM_USER={{VM_USER}}
export VM_USER_GROUP={{VM_USER_GROUP}}
export VM_USER_UID={{VM_USER_UID}}
export VM_USER_GID={{VM_USER_GID}}

# Ports forwarded by the PANDA VM.
export VM_SSH_PORT={{VM_SSH_PORT}}
export VM_SFTP_PORT={{VM_SFTP_PORT}}

# Path used to create/extract PANDA tarball.
export PANDA_PATH={{PANDA_PATH}}
